<hr/>

<!--footer-->            
<div id="footer" class="column span-24 quiet last">
	<p class="align-right">&copy; 2008 sva prava pridržana</p>
</div>
<!--end footer-->         

</div>
</body>
</html>