<%= render :partial => "layouts/header" -%>

<!-- left content -->		    
<div id="left" class="column span-4">

</div>

<!-- content -->
<div id="content" class="column span-14"> 
		<%= render :partial => "layouts/flash" -%>
		<%= yield -%>
		
</div>
<!-- end content -->


<!-- right content -->		    
<div id="right" class="column span-6 last">
	
	
	
</div>
<!-- end right content -->




<div id="bottom" class="hide column span-24">

				
</div>



<%= render :partial => "layouts/footer" -%>
